/*Diseño de la página*/
.btns {
  border-radius: 5px;
}

#logIn {
  background-color: #00A5E1;
}

#signIn {
  width: 100%;
}

#signUp {
  width: 100%;
}

#sidebar {
  display: none;
}

#profile {
  display: none;
}

#wallDisplay {
  display:none;
}

#articlesDisplay {
  display: none;
}

#professionalSupportDisplay {
  display: none;
}

#talksDisplay {
  display: none;
}

#complaintsDisplay {
  display: none;
}

#messageDiv {
  display: none;
}

#messageContainer{
  height: 70vh;
}

/*Menú lateral con el Navbar*/
.menu{
  position: absolute;
  top:0;
  height: 100vh; 
  width: 70vw;  
  transition: 0.5s ease-out;
  z-index: 1;
}

.menu_closed{
  left: -70vw;
}

.menu_open{
  left: 0;
}

.close_button{ 
  font-size: xx-large;
  color: white;
  position: absolute;
  right: 10px;                   
}

.menu_content{
  padding: 10px;
  margin-top: 20px;
}

@media(min-width: 768px){ 
  .menu{
      width: 20vw; 
  }

  .menu_closed{
      left:-20vw;
  }
}